{
  "presets": [
    ["@babel/preset-env"],
    "@babel/preset-react"
  ],
  "plugins": [
    ["@babel/transform-runtime", {
      "regenerator": true
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "components": "./src/components",
        "actions": "./src/actions"
      }
    }]
  ]
}